<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiaze.autotestapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jiaze.ftp.FTPLoginActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name="com.jiaze.combination.CombinationTestActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.jiaze.reboot.ModuleRebootActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.jiaze.ps.PsTestActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.jiaze.network.NetworkTestActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.jiaze.sms.SmsTestActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.jiaze.airmode.AirModeTestActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.jiaze.sim.SimTestActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.jiaze.reboot.RebootTestActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiaze.call.CallTestActivity"
            android:launchMode="singleTask" />

        <service
            android:name="com.jiaze.call.CallTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.sms.SmsTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.ps.PsTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.reboot.RebootTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.sim.SimTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.airmode.AirModeTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.network.NetworkTestService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.reboot.ModuleRebootService"
            android:enabled="true" />
        <service
            android:name="com.jiaze.combination.CombinationTestService"
            android:enabled="true"></service>

        <receiver android:name="com.jiaze.common.BootRebootServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>